$breakpoints: ("tablet": 576, "laptop": 768, "desktop": 992);
$colors: ("blue": #0000FF, "green": #00FF00, "red": #FF0000, "orange": #FFA500);

//@each $breakpoint, $size in $breakpoints {
//  $separator: ":";
//  @if $breakpoint == "" {
//    $separator: "";
//  }
//  @media (min-width: #{$size}px) {
//    @each $color, $hash in $colors {
//      .#{$breakpoint}#{$separator}g--bg-color-#{$color}{
//        background-color: #{$hash};
//      }
//    }
//  }
//}

@each $breakpoint, $size in $breakpoints {
  $separator: if($breakpoint == "", "", ":"); // Se utiliza if para establecer el separador adecuado

  @if $breakpoint != "" { // Se agrega una condición para generar media queries solo si breakpoint no es una cadena vacía
    @media (min-width: #{$size}px) {
      @each $color, $hash in $colors {
        .#{$breakpoint}#{$separator}g--bg-color-#{$color}{
          background-color: #{$hash};
        }
      }
    }
  }
}