@import "colors";

.l-columns {
  display: grid;
  border: 1px solid black;
  padding: 10px;
  @each $breakpoint, $size in $breakpoints {
    @media (min-width: #{$size}px) {
      &--fixed\@#{$breakpoint} {
        background-color: lightblue;
        grid-template-columns: 100px 200px 80px 300px;
      }
      &--20vw\@#{$breakpoint} {
        background-color: lightgreen;
        grid-template-columns: 20vw 20vw 20vw 20vw;
      }
      &--repeat-4\@#{$breakpoint} {
        background-color: lightcoral;
        grid-template-columns: repeat(4, 1fr);
      }
      &--1fr2fr\@#{$breakpoint} {
        background-color: lightcyan;
        grid-template-columns: 1fr 2fr;
      }
      &--repeat-fr-repeat\@#{$breakpoint} {
        background-color: lightsalmon;
        grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
      }
      &--repeatX2\@#{$breakpoint} {
        background-color: lightskyblue;
        grid-template-columns: repeat(2, 2fr) repeat(2, 3fr);
      }
      &--repeat-auto-fit\@#{$breakpoint} {
        background-color: lightgoldenrodyellow;
        grid-template-columns: repeat(auto-fit, 100px);
      }
      &--repeat-auto-fit-minmax\@#{$breakpoint} {
        background-color: lightpink;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }
    }
  }

}

.c-item {
  text-align: center;
  border: 1px solid black;
}