@media (min-width: 576px) {
  .tablet:g--bg-color-blue {
    background-color: #0000FF;
  }
  .tablet:g--bg-color-green {
    background-color: #00FF00;
  }
  .tablet:g--bg-color-red {
    background-color: #FF0000;
  }
  .tablet:g--bg-color-orange {
    background-color: #FFA500;
  }
}
@media (min-width: 768px) {
  .laptop:g--bg-color-blue {
    background-color: #0000FF;
  }
  .laptop:g--bg-color-green {
    background-color: #00FF00;
  }
  .laptop:g--bg-color-red {
    background-color: #FF0000;
  }
  .laptop:g--bg-color-orange {
    background-color: #FFA500;
  }
}
@media (min-width: 992px) {
  .desktop:g--bg-color-blue {
    background-color: #0000FF;
  }
  .desktop:g--bg-color-green {
    background-color: #00FF00;
  }
  .desktop:g--bg-color-red {
    background-color: #FF0000;
  }
  .desktop:g--bg-color-orange {
    background-color: #FFA500;
  }
}
.l-columns {
  display: grid;
  border: 1px solid black;
  padding: 10px;
}
@media (min-width: 576px) {
  .l-columns tablet\:.l-columns--fixed {
    background-color: lightblue;
    grid-template-columns: 100px 200px 80px 300px;
  }
  .l-columns tablet\:.l-columns--20vw {
    background-color: lightgreen;
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
  .l-columns tablet\:.l-columns--repeat-4 {
    background-color: lightcoral;
    grid-template-columns: repeat(4, 1fr);
  }
  .l-columns tablet\:.l-columns--1fr2fr {
    background-color: lightcyan;
    grid-template-columns: 1fr 2fr;
  }
  .l-columns tablet\:.l-columns--repeat-fr-repeat {
    background-color: lightsalmon;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
  }
  .l-columns tablet\:.l-columns--repeatX2 {
    background-color: lightskyblue;
    grid-template-columns: repeat(2, 2fr) repeat(2, 3fr);
  }
  .l-columns tablet\:.l-columns--repeat-auto-fit {
    background-color: lightgoldenrodyellow;
    grid-template-columns: repeat(auto-fit, 100px);
  }
  .l-columns tablet\:.l-columns--repeat-auto-fit-minmax {
    background-color: lightpink;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
@media (min-width: 768px) {
  .l-columns laptop\:.l-columns--fixed {
    background-color: lightblue;
    grid-template-columns: 100px 200px 80px 300px;
  }
  .l-columns laptop\:.l-columns--20vw {
    background-color: lightgreen;
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
  .l-columns laptop\:.l-columns--repeat-4 {
    background-color: lightcoral;
    grid-template-columns: repeat(4, 1fr);
  }
  .l-columns laptop\:.l-columns--1fr2fr {
    background-color: lightcyan;
    grid-template-columns: 1fr 2fr;
  }
  .l-columns laptop\:.l-columns--repeat-fr-repeat {
    background-color: lightsalmon;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
  }
  .l-columns laptop\:.l-columns--repeatX2 {
    background-color: lightskyblue;
    grid-template-columns: repeat(2, 2fr) repeat(2, 3fr);
  }
  .l-columns laptop\:.l-columns--repeat-auto-fit {
    background-color: lightgoldenrodyellow;
    grid-template-columns: repeat(auto-fit, 100px);
  }
  .l-columns laptop\:.l-columns--repeat-auto-fit-minmax {
    background-color: lightpink;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
@media (min-width: 992px) {
  .l-columns desktop\:.l-columns--fixed {
    background-color: lightblue;
    grid-template-columns: 100px 200px 80px 300px;
  }
  .l-columns desktop\:.l-columns--20vw {
    background-color: lightgreen;
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
  .l-columns desktop\:.l-columns--repeat-4 {
    background-color: lightcoral;
    grid-template-columns: repeat(4, 1fr);
  }
  .l-columns desktop\:.l-columns--1fr2fr {
    background-color: lightcyan;
    grid-template-columns: 1fr 2fr;
  }
  .l-columns desktop\:.l-columns--repeat-fr-repeat {
    background-color: lightsalmon;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
  }
  .l-columns desktop\:.l-columns--repeatX2 {
    background-color: lightskyblue;
    grid-template-columns: repeat(2, 2fr) repeat(2, 3fr);
  }
  .l-columns desktop\:.l-columns--repeat-auto-fit {
    background-color: lightgoldenrodyellow;
    grid-template-columns: repeat(auto-fit, 100px);
  }
  .l-columns desktop\:.l-columns--repeat-auto-fit-minmax {
    background-color: lightpink;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.c-item {
  text-align: center;
  border: 1px solid black;
}

/*# sourceMappingURL=grid-area.css.map */
