.g--font-size-1 {
    font-size: 40px;
}
.g--font-size-2 {
    font-size: 50px;
}
.g--font-size-3 {
    font-size: 55px;
}
.g--font-size-4 {
    font-size: 70px;
}

.g--bg-color-red {
    background-color:#FF0000;
}
.g--bg-color-green {
    background-color:#00FF00;
}
.g--bg-color-blue {
    background-color:#0000FF;
}
.g--bg-color-orange {
    background-color:#FFA500;
}

.width {
    width: 200px;
    height: 20px;
}

@media (min-width: 576px) {
    .g--font-size-1\@movil {
        font-size: 40px;
    }
    .g--font-size-2\@movil {
        font-size: 50px;
    }
    .g--font-size-3\@movil {
        font-size: 55px;
    }
    .g--font-size-4\@movil {
        font-size: 70px;
    }
    .g--bg-color-red\@movil {
        background-color:#FF0000;
    }
    .g--bg-color-green\@movil {
        background-color:#00FF00;
    }
    .g--bg-color-blue\@movil {
        background-color:#0000FF;
    }
    .g--bg-color-orange\@movil {
        background-color:#FFA500;
    }

}

@media (min-width: 768px) {
    .g--font-size-1\@tablet {
        font-size: 40px;
    }
    .g--font-size-2\@tablet {
        font-size: 50px;
    }
    .g--font-size-3\@tablet {
        font-size: 55px;
    }
    .g--font-size-4\@tablet {
        font-size: 70px;
    }
    .g--bg-color-red\@tablet {
        background-color:#FF0000;
    }
    .g--bg-color-green\@tablet {
        background-color:#00FF00;
    }
    .g--bg-color-blue\@tablet {
        background-color:#0000FF;
    }
    .g--bg-color-orange\@tablet {
        background-color:#FFA500;
    }
}

@media (min-width: 992px) {
    .g--font-size-1\@desktop {
        font-size: 40px;
    }
    .g--font-size-2\@desktop {
        font-size: 50px;
    }
    .g--font-size-3\@desktop {
        font-size: 55px;
    }
    .g--font-size-4\@desktop {
        font-size: 70px;
    }
    .g--bg-color-red\@desktop {
        background-color:#FF0000;
    }
    .g--bg-color-green\@desktop {
        background-color:#00FF00;
    }
    .g--bg-color-blue\@desktop {
        background-color:#0000FF;
    }
    .g--bg-color-orange\@desktop {
        background-color:#FFA500;
    }
}
